{# @var orderItem \Generated\Shared\Transfer\ItemTransfer #}
{% if orderItem.isReschedulable %}
    <a class="btn btn-xs btn-primary" href="{{ url('/self-service-portal/item-scheduler', {'id-sales-order-item': orderItem.idSalesOrderItem}) }}">{{ 'Update time' | trans }}</a>
{% endif %}