@mixin self-service-portal-asset-finder($name: '.asset-finder') {
    #{$name} {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        padding: 0 0.5rem;
        width: 80vw;

        @include helper-breakpoint-media-min(helper-breakpoint-edge-min(map-get($setting-breakpoints, lg))) {
            width: 36.25rem;
        }

        &__results {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            max-height: 23rem;
        }

        &__search {
            margin-bottom: 1.25rem;
            position: relative;
        }

        &__search-field {
            padding-left: 2.5rem;
        }

        &__search-icon {
            position: absolute;
            left: 0.9rem;
            top: 50%;
            translate: 0 -50%;
            width: 1.5rem;
            height: 1.5rem;
        }

        @content;
    }
}
