@mixin self-service-portal-asset-option($name: '.asset-option') {
    #{$name} {
        display: flex;
        align-items: flex-start;
        padding: 1rem 0;
        font-size: 0.875rem;
        gap: 1.25rem;
        cursor: auto;

        &:not(:last-child) {
            border-bottom: 1px solid $setting-color-light;
        }

        &:hover {
            background: none;
        }

        &--empty {
            justify-content: center;
            font-size: 1.125rem;
            font-weight: 700;
        }

        &__content {
            flex-grow: 1;
            min-width: 1px;
        }

        &__name {
            display: block;
            word-wrap: break-word;
            margin-bottom: 0.25rem;
        }

        &__serial {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            display: inline-block;
            vertical-align: top;
            max-width: 100%;
            margin-bottom: 0.25rem;
        }

        &__scroll {
            height: 100%;
        }

        @content;
    }
}
